[Unit]
Description=Fire Drone CNN Serivce. Used to start the CNN
After=network.target

[Service]
WorkingDirectory=/opt/firedrone/scripts/cnn_sim
User=operator
EnvironmentFile=/etc/firedrone/cnn.cfg
ExecStart=/opt/firedrone/scripts/cnn_sim/cnn_sim.py $CNN_INPUT
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s
StandardError=inherit

[Install]
WantedBy=multi-user.target
