[Unit]
Description=Fire Drone Detector Service. Used to send detections to GCS
After=network.target drone_cnn.service drone_imgscraper.service drone_mavlink.service fpv-camera.service

[Service]
WorkingDirectory=/opt/firedrone/scripts/fire_detector
User=operator
EnvironmentFile=/etc/firedrone/fire_detector.cfg
ExecStart=/opt/firedrone/scripts/fire_detector/fireDetector.py 10.5.0.1:16551
TimeoutStopSec=5s
Restart=always
RestartSec=5s
StandardError=inherit

[Install]
WantedBy=multi-user.target
