[Unit]
Description=Fire Drone MAVLINK Service
After=network.target

[Service]
User=operator
ExecStart=/opt/firedrone/scripts/mav_srv/mavlink_telemetry_extractor.py
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s
StandardError=inherit

[Install]
WantedBy=multi-user.target
